<%= form_for(@membership, url: principal_membership_path(@principal, @membership),
                          as: :membership,
                          data: { turbo: true },
                          method: :put) do %>
  <p>
  <% @roles.each do |role| %>
    <label class="block">
      <%= check_box_tag 'membership[role_ids][]',
            role.id, @membership.roles.to_a.include?(role),
            :id => nil,
            :disabled => !@membership.role_editable?(role) %> <%= role.name %>
      <%= render_role_inheritance(@membership, role) %>
    </label>
  <% end %>
  </p>
  <%= hidden_field_tag 'membership[role_ids][]', '', :id => nil %>
  <p>
    <%= submit_tag l(:button_save) %>
    <%= link_to l(:button_cancel), '#', data: { action: 'projects--settings--members#toggle' } %>
  </p>
<% end %>
