<fieldset class="box" data-controller="checkbox">
  <legend><%= toggle_checkboxes_link('.projects-selection input:enabled') %><%= l(:label_project_plural) %></legend>
  <div class="objects-selection">
    <div class="projects-selection">
    <%= render_project_nested_lists(@projects) do |project, has_children| %>
      <label>
        <%= check_box_tag('membership[project_ids][]', project.id, false, id: nil, disabled: @principal.member_of?(project), data: { list_target: 'checkbox', action: has_children ? 'item#check' : nil }) %> <%= project.name %>
      </label>
    <% end %>
    </div>
  </div>
</fieldset>

<fieldset class="box" data-controller="checkbox">
  <legend><%= toggle_checkboxes_link('.roles-selection input') %><%= l(:label_role_plural) %></legend>
  <div class="roles-selection">
  <% @roles.each do |role| %>
    <label>
      <%= check_box_tag 'membership[role_ids][]', role.id, false, :id => nil %>
      <%= role %>
    </label>
  <% end %>
  </div>
</fieldset>
