<h2><%= l(:label_bulk_edit_selected_time_entries) %></h2>

<% if @unsaved_time_entries.present? %>
<div id="errorExplanation">
  <span>
    <%= l(:notice_failed_to_save_time_entries,
        :count => @unsaved_time_entries.size,
        :total => @saved_time_entries.size,
        :ids => @unsaved_time_entries.map {|i| "##{i.id}"}.join(', ')) %>
  </span>
  <ul>
  <% bulk_edit_error_messages(@unsaved_time_entries).each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
</div>
<% end %>

<ul id="bulk-selection">
<% @time_entries.each do |entry| %>
  <%=
    content_tag 'li',
      link_to(
        "#{format_date(entry.spent_on)} - #{entry.project}: #{l(:label_f_hour_plural, :value => format_hours(entry.hours))} (#{entry.user})",
        edit_time_entry_path(entry)
      )
  %>
<% end %>
</ul>

<%= form_tag(bulk_update_time_entries_path, id: 'bulk_edit_form', data: { controller: :form, form_value_url: url_for(action: 'bulk_edit')}) do %>
<%= @time_entries.collect {|i| hidden_field_tag('ids[]', i.id, :id => nil)}.join.html_safe %>
<div class="box tabular">
  <% data = @project || @target_project ? {
       controller: "timelog--bulk-edit-issue",
       timelog__bulk_edit_issue_url_value: auto_complete_issues_path,
       timelog__bulk_edit_issue_project_value: @project,
       action: 'change->timelog--bulk-edit#clear'
     } : nil %>
   <%= tag.div data: data do %>
    <p>
      <label><%= l(:field_project) %></label>
      <%= select_tag('time_entry[project_id]', project_tree_options_for_select(@target_projects,
        :include_blank => l(:label_no_change_option), :selected => @target_project),
        data: { action: 'form#post', :timelog__bulk_edit_issue_target => 'projectId'  }) %>
    </p>
    <p>
      <label for="time_entry_issue_id"><%= l(:field_issue) %></label>
      <%= text_field :time_entry, :issue_id, :size => 6, :data => { :timelog__bulk_edit_issue_target => 'field' } %>
      <label class="inline"><%= check_box_tag 'time_entry[issue_id]', 'none', (@time_entry_params[:issue_id] == 'none'), :id => nil, :data => {:disables => '#time_entry_issue_id'} %><%= l(:button_clear) %></label>
      <%= tag.span id: "time_entry_issue", data: { timelog__bulk_edit_issue_target: 'select'} %>
    </p>

    <p>
      <label for="time_entry_spent_on"><%= l(:field_spent_on) %></label>
      <%= date_field :time_entry, :spent_on, :size => 10, :value => @time_entry_params[:spent_on], :data => { :controller => 'datepicker' }  %>
    </p>

    <p>
      <label for="time_entry_hours"><%= l(:field_hours) %></label>
      <%= text_field :time_entry, :hours, :size => 6, :value => @time_entry_params[:hours] %>
    </p>

    <% if @available_activities.any? %>
    <p>
      <label for="time_entry_activity_id"><%= l(:field_activity) %></label>
      <%= select_tag('time_entry[activity_id]', content_tag('option', l(:label_no_change_option), :value => '') + options_from_collection_for_select(@available_activities, :id, :name, @time_entry_params[:activity_id])) %>
    </p>
    <% end %>

    <p>
      <label for="time_entry_comments"><%= l(:field_comments) %></label>
      <%= text_field(:time_entry, :comments, :size => 100, :value => @time_entry_params[:comments]) %>
    </p>

    <% @custom_fields.each do |custom_field| %>
      <%= custom_droppable_tag custom_field do %>
        <label><%= h(custom_field.name) %></label>
        <%= custom_field_tag_for_bulk_edit 'time_entry', custom_field, @time_entries, @time_entry_params[:custom_field_values][custom_field.id.to_s],
              data: { wiki_toolbar: custom_field.full_text_formatting?, wiki_preview_url: preview_issue_path(:project_id => @project) } %>
      <% end %>
    <% end %>

    <%= call_hook(:view_time_entries_bulk_edit_details_bottom, { :time_entries => @time_entries }) %>
  <% end %>
</div>

<p><%= submit_tag l(:button_submit) %></p>
<% end %>
