<fieldset class="box tabular">
  <legend><%= l(:label_fields_mapping) %></legend>
  <%= tag.div id: "fields-mapping", data: { controller: 'form', form_url_value: import_mapping_path(@import) }  do %>
    <%= render :partial => 'issues_fields_mapping' %>
  <% end %>
</fieldset>

<fieldset class="box tabular collapsible collapsed" data-controller="fieldset">
  <%= tag.legend class: 'icon icon-collapsed', data: { action: 'click->fieldset#toggle' } do %>
    <%= sprite_icon("angle-right") %>
    <%= l(:label_relations_mapping) %>
  <% end %>
  <div id="relations-mapping" style="display: none;" data-field-target="display">
    <%= render :partial => 'issues_relations_mapping' %>
  </div>
</fieldset>

