<h2><%= import_title %></h2>

<%= tag.div id: 'import-details', data: { controller: "imports--run", imports__run_max_value: @import.total_items.to_i, imports__run_runpath_value: import_run_path(@import) } do %>
  <%= tag.div id: 'import-progress', data: { imports__run_target: 'progressbar' } do %>
    <%= tag.div id: 'progress-label', data: { imports__run_target: 'label' } do %>
      0 / <%= @import.total_items.to_i %>
    <% end %>
  <% end %>
<% end %>
