<div class="contextual">
  <%= toggle_link sprite_icon('add', l(:label_document_new)), 'add-document',
                  class: 'icon icon-add',
                  url: new_project_document_path(@project), scroll: true if User.current.allowed_to?(:add_documents, @project) %>
</div>

<%= tag.div id: 'add-document', style: 'display:none;', data: {controller: 'visibility scroll focus', action: 'visibility:toggle->scroll#scroll visibility:toggle->focus#focus'} do %>
<h2><%=l(:label_document_new)%></h2>
<%= labelled_form_for @document, url: project_documents_path(@project), html: {multipart: true} do |f| %>
<%= render partial: 'form', locals: {f: f} %>
<p>
  <%= submit_tag l(:button_create) %>
  <%= link_to l(:button_cancel), "#", data: { action: 'visibility#hide' } %>
</p>
<% end %>
<% end %>

<h2><%=l(:label_document_plural)%></h2>

<div id="document-list">
<% if @grouped.empty? %><p class="nodata"><%= l(:label_no_data) %></p><% end %>

<% @grouped.keys.sort.__send__(@sort_by == 'date' ? :reverse_each : :each) do |group| %>
  <div class="document-group document-group-<%= @sort_by %>">
    <h3 class="group-name"><%= group %></h3>
    <%= render :partial => 'documents/document', :collection => @grouped[group] %>
  </div>
<% end %>
</div>

<% content_for :sidebar do %>
  <h3><%= l(:label_sort_by, '') %></h3>
  <ul>
    <li><%= link_to(l(:field_category), {:sort_by => 'category'},
                    :class => (@sort_by == 'category' ? 'selected' :nil)) %></li>
    <li><%= link_to(l(:label_date), {:sort_by => 'date'},
                    :class => (@sort_by == 'date' ? 'selected' :nil)) %></li>
    <li><%= link_to(l(:field_title), {:sort_by => 'title'},
                    :class => (@sort_by == 'title' ? 'selected' :nil)) %></li>
    <li><%= link_to(l(:field_author), {:sort_by => 'author'},
                    :class => (@sort_by == 'author' ? 'selected' :nil)) %></li>
  </ul>
<% end %>

<% html_title(l(:label_document_plural)) -%>
