<% unsaved_relations_ids = '' %>
<% if @unsaved_relations && @unsaved_relations.any? %>
  <% unsaved_relations_ids = @unsaved_relations.map(&:issue_to_id).compact.join(", ") %>
  <div id="errorExplanation">
    <ul>
      <% relation_error_messages(@unsaved_relations).each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<p data-controller="issue-relations--form" data-issue-relations--form-path-value="<%= auto_complete_issues_path(:project_id => @project, :scope => (Setting.cross_project_issue_relations? ? 'all' : nil), :issue_id => @issue.id) %>">
<%= f.select :relation_type, collection_for_relation_type_select, {}, :data => { :action => 'issue-relations--form#set' } %>
<%= l(:label_issue) %> #<%= f.text_field :issue_to_id, :value => unsaved_relations_ids, :autocomplete => 'off', :size => 10, :data => { issue_relations__form_target: 'field', focus_target: 'point', clear_target: 'clear' } %>
<span id="predecessor_fields" style="display:none;">
  <%= l(:field_delay) %>: <%= f.text_field :delay, :size => 3, :data => {clear_target: 'clear'} %> <%= l(:label_day_plural) %>
</span>
<%= submit_tag l(:button_add) %>
<%= link_to l(:button_cancel), '#', data: { action: 'visibility#hide' } %>
</p>
