<%# locals: (tabs: nil, selected_tab: nil, stimulus_controller: nil) %>
<%= tab_container(stimulus_controller) do |ctx| %>
  <div class="tabs">
    <ul>
      <% tabs.each do |tab| -%>
        <li>
          <%= link_to l(tab[:label]), (tab[:url] || { tab: tab[:name] }),
                id: "tab-#{tab[:name]}",
                class: { selected: tab[:name] == selected_tab },
                data: ctx.link_target(tab) %>
        </li>
      <% end -%>
    </ul>
    <div class="tabs-buttons" style="display:none;">
      <button class="tab-left" type="button" data-action="click-><%= stimulus_controller %>#left"></button>
      <button class="tab-right" type="button" data-action="click-><%= stimulus_controller %>#right"></button>
    </div>
  </div>

  <% tabs.each do |tab| -%>
    <% if tab[:partial] || tab[:remote] %>
      <%= tag.div (render(partial: tab[:partial], locals: {tab: tab}) if tab[:partial]) ,
            id: "tab-content-#{tab[:name]}",
            style: (tab[:name] != selected_tab ? 'display:none' : nil),
            class: 'tab-content',
            data: ctx.content_target(tab) %>
    <% end -%>
  <% end %>
<% end %>
