<div class="contextual">
  <%= form_tag({action: "add_block"}, id: "block-form", authenticity_token: true, data: { controller: 'form clear', turbo: true, clear_defaultclear_value: 'true' }) do %>
    <%= label_tag('block-select', l(:button_add)) %>:
    <%= block_select_tag(@user) %>
  <% end %>
  <%= call_hook(:view_my_page_contextual, :user => @user) %>
</div>

<h2><%=l(:label_my_page)%></h2>

<div id="my-page" class="splitcontent" <%= tag.attributes data: my_block_controller%>>
<% @groups.each.with_index do |group, index| %>
  <%= tag.div id: "list-#{group}", class: "block-receiver splitcontent#{ group }", data: {sortable_target: 'area'} do %>
    <%= render_blocks(@blocks[group], @user) %>
  <% end %>
<% end %>
<%= call_hook(:view_my_page_splitcontent, :user => @user) %>
</div>

<%= context_menu %>

<% html_title(l(:label_my_page)) -%>
